<div class="row py-5 align-items-center"><%# moku? %>
  <div class="col-12 col-md-6 mb-3 pl-5 d-none d-md-block"><%= render "about_message1" %></div><%# md以上でpl-5 %>
  <div class="col-12 col-md-6 mb-3 ml-3 d-md-none"><%= render "about_message1" %></div><%# md未満でml-3%>
  <div class="col-12 col-md-6 mt-2 text-center"><%# text-centerはmd未満で働く%>
    <img src="/assets/sagyou459-201.jpg" class="img-fluid" height="100"/>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
  <div class="card-deck">
      <div class="card border-info pt-3"><%# mokuで作業を記録しよう %>
        <img src="/assets/about_domoku.png" class="card-img-top" alt="mokuで作業を記録しよう">
        <div class="card-body pt-0">
         <hr />
          <h4 class="card-title font-weight-bold">mokuで作業を記録しよう</h4>
          <p class="card-text"><%= render "about_message2" %></p>
        </div>
      </div>
      <div class="card border-info pt-3"><%# つながり過ぎないつながり %>
        <img src="/assets/about_tunagari.png" class="card-img-top" alt="つながり過ぎないつながり">
        <div class="card-body pt-0">
        <hr />
          <h4 class="card-title font-weight-bold">つながり過ぎないつながり</h4>
          <p class="card-text"><%= render "about_message3" %></p>
        </div>
      </div>
    </div>
  </div>
</div>