<h2 class="mb-3 font-weight-bold">moku?</h2>
もくもく会ってご存知ですか？<br/>
ひたすら、黙々と作業をするだけの会。<br/>
最近色々なところで開催されています。<br/>
<br />
でも、どんな人がいるのかな…。<br/>
人見知りだしな…。<br/>
家を空けられないしな…。<br/>
○○をしたいけれどいいのかな…。<br/>
<br />
色々な事情で、参加したくても参加できない。<br/>
そんなあなたへ。<br/>
moku&#8194;-もく-&#8194;は、他者との繋がりは薄く、<br/>
でも確かに繋がりがある世界です。<br/>
mokuを使って、<b>マイペース</b>を大事に作業してみませんか。<br/>