<h2 class="mb-3 font-weight-bold font-weight-bold">mokuで<br class="d-inline d-sm-none" />作業を記録しよう</h2>
読書、宿題、作品作り…。<br/>
色々な作業を記録してみませんか。<br/>
mokuは、作業時間を記録します。<br/>
タグごとに分けて管理ができます。<br/>
<br />
その本を読了するまで、<br/>
その宿題が完了するまで、<br/>
その作品が完成するまで、<br/>
どのくらいの時間を要したか。<br/>
<br />
あとで振り返ってみると面白いかもしれません。<br/>
メモやちょっとした画像を残すこともできるので、<br/>
少しずつ完成していく様子を記録するのもおもしろそうです。<br/>