<h2 class="mb-3 font-weight-bold">繋がりすぎない繋がり</h2>
SNSやWEBサービスの普及で、<br class="d-inline d-sm-none" />他者との繋がりは十分すぎるほど。<br/>
だから、mokuは他のユーザーとの関わりを、<br class="d-inline d-sm-none" />敢えて希薄にしました。<br/>
どこの誰だかはわからない。<br/>
メッセージを送ることもできない。<br/>
だけど、moku JUST NOWをみると、<br class="d-inline d-sm-none" />誰かが作業をしている。<br/>
気になる成果物はブックマークを。<br/>
きっと、それだけで十分だとmokuは考えます。<br/>