<div class=container>

  <div class="cover text-info py-5">
    <div class="d-none d-md-block"><%# md以上で文字をdisplay-2＋ボタン左4em+ボタンlg %>
      <div class="display-1 font-weight-bold mb-4">&emsp;こんにちは<br/>&emsp;mokuです</div>
    </div><%# /d-md-block%>
    <div class="d-md-none"><%# md未満で文字をh2+ボタン左2em+ボタンsm %>
      <h2 class="font-weight-bold mb-4">&emsp;こんにちは<br/>&emsp;mokuです</h2>
    </div>
  </div><%# /cover %>

  <%= render "about_main" %>

  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_mypage'%>
  </div>
</div>