<div class="container">
  <h1>仮登録<br />ありがとうございます</h1>
  <div class="text-center">
    <img src="/assets/send.jpg" class="img-fluid" width="300" height="300"/>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h4>メールをお送りしました。<br />ご確認の上、本登録をお願いします。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card border-info mb-3">
        <div class="card-body">
          <b>メールが届かない場合</b><br>
          まずは、迷惑メールフォルダに振り分けられていないか、ご確認をお願いします。<br />
          それでもメールが届かない場合、メールアドレスが誤っていた可能性があります。<br />
          お手数をおかけしますが、もう一度新規登録画面から登録をお願いします。
        </div>
      </div>
    </div>
  </div>
</div>
