<div class="container">
  <h1>仮登録ありがとうございます！</h1>
  <div class="text-center">
    <img src="/assets/send.jpg" class="img-fluid" width="300" height="300"/>
  </div>

  <h2>メールをお送りしました。ご確認の上本登録をお願いします！</h2>
</div>