<div class="container">
  <h1>仮登録<br />ありがとうございます</h1>
  <div class="text-center">
    <img src="/assets/send.jpg" class="img-fluid" width="300" height="300"/>
  </div>
  <div class="row">
   <div class="col-12 text-center mb-4">
      <h4>メールをお送りしました。<br />ご確認の上、本登録をお願いします。</h4>
    </div>
  </div>
</div>