// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ブクマした
.bm-btn {
  color: #8899a6;
}

// ブクマ外した
.un-bm-btn {
  color: hotpink;
}

// 
#my-works-card {
  margin: auto;
  max-width: 30rem;
}

//３つの箱の高さを揃える
.work-eq-height {
  height: 160px;
}

//edit.html.erbの画像が入ったカード
#myWorksEditCard {
  max-width: 25rem;
  height: 12rem;
  margin: auto;
}