<div class=container>
  <h1>moku？</h1>

  <div class="row">
    <div class="col-12 col-md-6">
      <h2>mokuで、作業を記録しよう！</h2>

      読書、宿題、作品作り…。
      色々な作業の記録をしてみませんか。

      mokuは作業した時間を計測できます。
      タグごとに分けて管理ができます。
      その本を読了するまで、
      その宿題が完了するまで、
      その作品が完成するまで、
      どのくらいの時間を要したかあとで振り返ってみませんか。
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <h2>作品やメモの記録</h2>
      各mokuの作業でできたものや、メモなどを記録しましょう。
      画像が残せるので、毎作業ごとに記録しておけば、
      完成までの流れを振り返ることができます。
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <h2>繋がりすぎない繋がり moku JUST NOW</h2>
      もくもく会に行ってみたいけれど踏み切れない。
      誰かとうっすら繋がって作業をしたい。
      そんな時はmokuへどうぞ。
      SNSやWEBサービスの普及で、他者との繋がりは十分すぎるほど。
      だから、mokuは「繋がっていると言えない程度の薄い繋がり」だけにしました。
      どこの誰だかはわからない。メッセージを送ることもできない。
      だけど、moku JUST NOWをみると、どこかの誰かが今同じ時間に作業をしている。
      mokuはそれだけで十分だと考えています。
    </div>
  </div>


  <%= link_to 'ユーザー登録はこちら！' %><br/>

  <%= render 'my_shared/go_top'%>

</div>