<h1>MOKUってなに？</h1>

<h2>MOKUでできること</h2>
<ul>
  <li>
    カレンダーで作業できた日が一目でわかる
  </li>
  <li>
    作業した時間も記録できる
  </li>
</ul>

<p>MOKU JUST NOWを出す<p>
<%= link_to 'ユーザー登録はこちら！' %>
<p><%= link_to("TOPへ戻る", "/")%></p>
