<div class="container">
  <h1>ご利用<br class="d-inline d-sm-none"/>ありがとうございました！</h1>

  <div class="text-center">
    <img src="/assets/bye.jpg" class="img-fluid" width="400" height="400"/>
  </div>
</div>