<h1>moku</h1>
<h3><%= link_to('新規ユーザー登録', new_user_registration_path) %></h3>
<h3><%= link_to('ログイン', new_user_session_path) %></h3>
<h3><%= link_to("moku？", "top/about") %></h3>
<h3><%= link_to("よくある質問", faqs_path) %></h3>