<div class="container">
  <h1>Special Thanks</h1>

  <div class="row">
    <h2>画像</h2>
    <%= link_to("https://www.photo-ac.com/", target: :_blank) do %>
      photo AC
    <% end %>
    <h2>ロゴ</h2>
    <%= link_to("https://www.designevo.com/jp/", target: :_blank) do %>
     Design Evo
    <% end %>
  </div>
</div>