<div class="container">
  <h1><%= "【mokuタグ：#{@moku_type.name}】のmoku" %></h1>

  <div class="row">
    <div class="col-8" style="margin: auto;">
      <table class="table table-hover text-center">
        <thead>
          <tr class="table-info">
            <th scope="col">日付</th>
            <th scope="col">moku詳細へ</th>
          </tr>
        </thead>
        <tbody>
          <% @do_mokus.each do |do_moku| %>
            <tr>
              <th scope="row"><%= "#{do_moku.created_at}"%></th>
              <td>
              <%= link_to user_moku_path(do_moku.user_id, do_moku.id) do %>
                <i class="fas fa-search my-color-search fa-2x"></i>
              <% end %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row ml-2 my-2">
    <%= render 'my_shared/go_mypage' %>
  </div>
</div>