<h1>MokuType#show</h1>
<h1><%= "【MOKUタグ：#{@moku_type.name}】でMOKUったもの" %></h1>
<% @do_mokus.each do |do_moku| %>
<ul>
  <li>
    <%= link_to("#{do_moku.created_at}のMOKU", user_moku_path(do_moku.user_id, do_moku.id)) %>
  </li>
</ul>
<% end %>

<%= render 'my_shared/go_mypage' %>