<%# topへ戻る%>

<%= link_to "/" do %>
  <span class="fas fa-reply fa-3x my-color-reply pl-2 text-center" aria-hidden="true"><br>
    <h5 class="font-weight-bold text-secondary">トップへ</h5>
  </span>
<% end %>