<%# mypageへ戻る%>

<span class="d-none d-md-block"><%# md以上で大きめアイコン%>
  <%= link_to "/mypage" do %>
    <i class="fas fa-reply fa-4x my-color-reply pl-2 mt-3 text-center" aria-hidden="true"><br/>
      <h5 class="font-weight-bold text-secondary">マイページへ</h5>
    </i>
  <% end %>
</span>

<span class="d-md-none"><%# md未満で小さめボタン%>
  <button type="button" class="btn btn-light border-info">
    <%= link_to "/mypage" do %>
      <span class="fas fa-reply my-color-reply text-center" aria-hidden="true"><br />
      <small class="text-info">マイ<br />ページ</small>
      </span>
    <% end %>
  </button>
</span>