<body>
  <main>
      <h1 class="font-weight-bold text-center">ながいなまえのユーザーさんのマイページ</h1>
      <div class="container-fluid pb-4">
          <div class="row">
            <div class="col-12 col-md-6 pb-4">
              <section>
                <div class="card">
                  <div class="card-header text-center"><h3>何をしますか？</h3></div>
                  <div class="card-body pd-1 text-center">

                      <%= link_to "/mokus/new", class: "text-decoration-none" do %>
                        <span class="fas fa-cloud my-color-moku fa-6x m-3 faa-bounce animated-hover" aria-hidden="true">
                          <h5 class="font-weight-bold text-secondary">mokuる</h5>
                        </span>
                      <% end %>

                      <%= link_to"/mokus/new" do %>
                        <span class="fas fa-bookmark my-color-bookmark fa-6x m-3 faa-bounce animated-hover" aria-hidden="true">
                          <h5 class="font-weight-bold text-secondary">Book Mark</h5>
                        </span>
                      <% end %>

                      <%= link_to"/mokus/new" do %>
                        <span class="fas fa-tag my-color-tag fa-6x m-3 faa-bounce animated-hover" aria-hidden="true">
                          <h5 class="font-weight-bold text-secondary">mokuタグ</h5>
                       </span>
                      <% end %>

                      <%= link_to"/mokus/new" do %>
                        <span class="fas fa-crown my-color-work fa-6x m-3 faa-bounce animated-hover" aria-hidden="true">
                          <h5 class="font-weight-bold text-secondary">成果物</h5>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </section>
            </div>

              <div class="col-12 col-md-6 pb-4">
                  <section>
                      <div class="card">
                        <div class="card-header text-center"><h3>自己紹介</h3></div>
                        <div class="card-body">
                          <p class="card-text">おおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお</p>
                        </div>
                      </div>
                  </section>
              </div>

              <div class="col-12 col-md-6 pb-4">
                  <section>
                      <div class="card">
                        <div class="card-header text-center"><h3>公開設定</h3></div>
                        <div class="card-body">
                          <p class="card-text">アカウントは現在公開になっています</p>
                        </div>
                      </div>
                  </section>
              </div>

              <div class="col-12 col-md-6 pb-4">
                  <section>
                      <div class="card">
                        <div class="card-header text-center"><h3>mokuアイテム</h3></div>
                        <div class="card-body">
                          <p class="card-text">画面下部の「個人設定」から、使用する道具を登録しよう！simple_formatで改行も反映させる</p>
                        </div>
                      </div>
                  </section>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-lg-6 pb-4">
                  <section>
                      <div class="card text-white bg-info">
                        <h4><div class="card-header text-center"><h3>moku Just Now<h3></div></h4>
                        <div class="card-body">
                              <ul>
                                  <li>19/02/10 14:27 管理者さんがとりあえずMOKUるでMOKUを開始しました！</li>
                                  <li>19/02/10 14:27 管理者さんがとりあえずMOKUるでMOKUを開始しました！</li>
                                  <li>19/02/10 14:27 管理者さんがとりあえずMOKUるでMOKUを開始しました！</li>
                              </ul>
                        </div>
                      </div>
                  </section>
              </div>

              <div class="col-12 col-lg-6 pb-4">
                  <section>
                      <div class="card text-blue bg-info text-white">
                        <h4><div class="card-header text-center"><h3>Pick UP</h3></div></h4>
                        <div class="card-body ">
                          <h5 class="card-title">みんなの成果物を見てみよう！</h5>
                          <ul>
                              <li><a href="/users/7/works/20/public" class="text-white">削除テストユーザー</a></li>
                              <li><a href="/users/6/works/19/public" class="text-white">スイミー</a></li>
                              <li><a href="/users/4/works/18/public" class="text-white">画像じゃないものを貼ってみる</a></li>
                          </ul>
                        </div>
                      </div>
                  </section>
              </div>
          </div>

          <div class="row">
              <div class="col-12">
                  <section>
                      <h1 class="text-center">カレンダー</h1>
                          <h5><a href="mypage_index.html">これまでの全てのmoku一覧</a></h5>
                      <div class="simple-calendar">
                        <div class="calendar-heading">
                          <a href="/mypage?start_date=2019-01-27">Previous</a>
                          <span class="calendar-title">2月 2019</span>
                          <a href="/mypage?start_date=2019-03-04">Next</a>
                        </div>

                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>月</th>
                                <th>火</th>
                                <th>水</th>
                                <th>木</th>
                                <th>金</th>
                                <th>土</th>
                                <th>日</th>
                            </tr>
                          </thead>

                          <tbody>
                              <tr>
                                  <td class="day wday-1 past prev-month has-events">

                        2019-01-28<br>
                              <a href="/users/1/mokus/40">とりあえずMOKUる</a><br>
                      </td>            <td class="day wday-2 past prev-month has-events">

                        2019-01-29<br>
                              <a href="/users/1/mokus/41">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/42">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/43">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/44">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/45">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/46">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/47">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/48">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/49">あたらしいMOKU１</a><br>
                              <a href="/users/1/mokus/50">とりあえずMOKUる</a><br>
                      </td>            <td class="day wday-3 past prev-month">

                        2019-01-30<br>
                      </td>            <td class="day wday-4 past prev-month">

                        2019-01-31<br>
                      </td>            <td class="day wday-5 past current-month has-events">

                        2019-02-01<br>
                              <a href="/users/1/mokus/53">とりあえずMOKUる</a><br>
                      </td>            <td class="day wday-6 past current-month">

                        2019-02-02<br>
                      </td>            <td class="day wday-0 past current-month has-events">

                        2019-02-03<br>
                              <a href="/users/1/mokus/54">とりあえずMOKUる</a><br>
                      </td>        </tr>
                              <tr>
                                  <td class="day wday-1 past current-month">

                        2019-02-04<br>
                      </td>            <td class="day wday-2 past current-month">

                        2019-02-05<br>
                      </td>            <td class="day wday-3 past current-month has-events">

                        2019-02-06<br>
                              <a href="/users/1/mokus/59">あたらしいMOKU２</a><br>
                      </td>            <td class="day wday-4 past current-month">

                        2019-02-07<br>
                      </td>            <td class="day wday-5 past current-month">

                        2019-02-08<br>
                      </td>            <td class="day wday-6 past current-month">

                        2019-02-09<br>
                      </td>            <td class="day wday-0 past current-month has-events">

                        2019-02-10<br>
                              <a href="/users/1/mokus/67">とりあえずMOKUる</a><br>
                              <a href="/users/1/mokus/68">とりあえずMOKUる</a><br>
                      </td>        </tr>
                              <tr>
                                  <td class="day wday-1 past current-month">

                        2019-02-11<br>
                      </td>            <td class="day wday-2 past current-month">

                        2019-02-12<br>
                      </td>            <td class="day wday-3 past current-month">

                        2019-02-13<br>
                      </td>            <td class="day wday-4 past current-month">

                        2019-02-14<br>
                      </td>            <td class="day wday-5 past current-month has-events">

                        2019-02-15<br>
                              <a href="/users/1/mokus/69">とりあえずMOKUる</a><br>
                      </td>            <td class="day wday-6 today start-date current-month">

                        2019-02-16<br>
                      </td>            <td class="day wday-0 future current-month">

                        2019-02-17<br>
                      </td>        </tr>
                              <tr>
                                  <td class="day wday-1 future current-month">

                        2019-02-18<br>
                      </td>            <td class="day wday-2 future current-month">

                        2019-02-19<br>
                      </td>            <td class="day wday-3 future current-month">

                        2019-02-20<br>
                      </td>            <td class="day wday-4 future current-month">

                        2019-02-21<br>
                      </td>            <td class="day wday-5 future current-month">

                        2019-02-22<br>
                      </td>            <td class="day wday-6 future current-month">

                        2019-02-23<br>
                      </td>            <td class="day wday-0 future current-month">

                        2019-02-24<br>
                      </td>        </tr>
                              <tr>
                                  <td class="day wday-1 future current-month">

                        2019-02-25<br>
                      </td>            <td class="day wday-2 future current-month">

                        2019-02-26<br>
                      </td>            <td class="day wday-3 future current-month">

                        2019-02-27<br>
                      </td>            <td class="day wday-4 future current-month">

                        2019-02-28<br>
                      </td>            <td class="day wday-5 future next-month">

                        2019-03-01<br>
                      </td>            <td class="day wday-6 future next-month">

                        2019-03-02<br>
                      </td>            <td class="day wday-0 future next-month">

                        2019-03-03<br>
                      </td>        </tr>
                          </tbody>
                        </table>
                      </div>
                  </section>
              </div>
          </div>
      </div>

      <section>
          <h2>管理者メニュー <span class="fa fa-cloud my-color-blue" aria-hidden="true"></span></h2>
              <ul>
                  <li>FAQの追加</li>
                  <li>FAQの編集・削除</li>
              </ul>
      </section>
  </main>
</body>
