/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require simple_calendar
 */

/*
 *= require rails_bootstrap_forms
 */

 body {
   color: rgb(95, 95, 95) !important;
 }

/* mokuアイコン */
 .my-color-moku {
  color: #b7e0f5;
}

h1{
  font-weight: bold !important;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 24px;
}

li {
  margin-bottom: 10px;
}

hr {
  border-width: 2px !important;
  border-color: rgb(70, 116, 254) !important;
}

footer {
  font-size: xx-small;
}

.toast {
  background-color: rgb(252, 231, 2) !important;
  font-weight: bold;
  width: 250px;
}

.my-color-important {
  color: lightsalmon;
}

.my-color-lock {
  color: #fcc6f1;
}


/* アカウント情報アイコン */
.my-color-key {
  color: rgb(255, 236, 96);
}

/* moku一覧アイコン */
.my-color-mokusIndex {
  color: rgb(243, 177, 138);
}

/* book_markアイコン */
.my-color-bookmark {
  color:rgb(87, 226, 226);
}

/* moku_tagアイコン */
.my-color-tag {
  color: pink;
  }

/* workアイコン */
.my-color-work {
  color:#ffe200
}

/* 管理者ニューアイコン */
.my-color-admin {
  color: rgb(255, 139, 139);
}

/* 管理者メニューFAQ追加アイコン */
.my-color-question {
  color: rgb(182, 109, 182);
}

/* 管理者メニューFAQ編集アイコン */
.my-color-faqedit {
  color: rgb(74, 211, 165);
}

/* ヘッダーのご挨拶 */
#greet {
  font-size: 20px;
  text-align: right;
}

/* 編集するアイコン */
.my-color-edit {
  color: mediumslateblue;
}

/* banアイコン */
.my-color-ban {
  color: crimson;
}

/* 虫眼鏡アイコン */
.my-color-search {
  color: plum;
}

/* mypageへ戻るアイコン  */
.my-color-reply {
  color: #f472db
}

/* 退会アイコン */
.my-color-door {
  color: rgb(127, 161, 236);
}

/* 削除アイコン */
.my-color-trash {
  color: rgb(127, 161, 236);
}

/* copyright */
.copyright {
  border-top: solid 3px rgb(105, 175, 255);
  /* text-align: center; */
}

/* スマホ向けページリンクボタン */
.my-mobile-btn-size {
  width: 52px;
}