// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 最近のmoku/workのリスト */
.recentLists{
  margin-bottom: -10px;
}

// 最近のmoku/work
.recentDoingTextSize {
  font-size: 13px;
}

// menu
.myMenuIcon {
  color: rgb(198, 196, 227);
}

// simple-calendar自前css
.simple-calendar {
  .day {
    font-size: 8px;
  }

  .wday-0 {
    font-size: 8px;
  }
  .wday-1 {
    font-size: 8px;
  }
  .wday-2 {
    font-size: 8px;
  }
  .wday-3 {
    font-size: 8px;
  }
  .wday-4 {
    font-size: 8px;
  }
  .wday-5 {
    font-size: 8px;
  }
  .wday-6 {
    font-size: 8px;
  }
}

.dayNameFontSize {
  font-size: 12px;
  font-weight: bold;
}

.calendar-heading {
  font-size: 30px;
}

// md未満のカレンダー部分アイコン
.myCalendarColor {
  color: rgb(95, 12, 172);
}

// md未満のpick up部分アイコン
.myArchiveColor {
  color: rgb(233, 122, 192);
}

// md未満のMJN部分アイコン
.mySmileColor {
  color: rgb(255, 201, 107);
}