// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topMenu {
  margin: auto;

  text-align: center;
}

// 冒頭のジャンボトロン
// .jumbotron {
//   background-image: url("cover.jpg");
//   background-size: cover;
//   background-position: center center;
// }

.cover {
  // width: 100%;
  height: 100%;
  // padding-top: 66.77%;
  background-image: url("cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.carousel-control-next {
  filter: invert(100%);
}

.carousel-control-prev {
  filter: invert(100%);
}
.carousel-indicators {
  background-color: #999;
  background-color: rgba(5, 155, 210, 0.283);
  height: 25px;
  margin-bottom: 0px;
}

.carousel-indicators .active {
  background-color: rgb(82, 80, 79);
}