<%# current_userかどうかで戻り先をマイページかトップに振り分ける%>

<% if current_user %>
  <%= link_to "/mypage" do %>
    <span class="fas fa-reply fa-4x my-color-reply pl-2 text-center" aria-hidden="true"><br>
      <h5 class="font-weight-bold text-secondary">マイページへ戻る</h5>
    </span>
  <% end %>
<% else %>
  <%= link_to "/" do %>
    <span class="fas fa-reply fa-4x my-color-reply pl-2 text-center" aria-hidden="true"><br>
      <h5 class="font-weight-bold text-secondary">トップへ戻る</h5>
    </span>
  <% end %>
<% end %>
