<b>こんにちは、mokuです。</b>
<p><%= @resource.email %>さん、mokuからのお知らせです。</p>

<p>パスワード再設定のご依頼をいただきましたのでご連絡いたしました。</p>
<p>以下のリンクからパスワードを再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更の依頼をされていない場合は、このメールは破棄ください。</p>
<p>上記リンクにアクセスし、変更手続きをしない限りはパスワードは変更されませんのでご安心ください。</p>
